.m-btn {
  height: 32px;
  border: 1px solid #8d9096;
  color: #111;
  background-color: transparent;
  border-radius: 4px;
  padding: 6px 16px;
  cursor: pointer;
  font-weight: 600;
  font-size: 13px;
}

.m-btn.m-btn-primary {
  background-color: #2ca01c;
  color: #fff;
}

.m-btn:hover {
  background-color: #d2d3d6;
}

.m-btn.m-btn-primary:hover {
  background-color: #35bf22;
}

.m-btn:active {
  background-color: #bbbcbc;
}

.m-btn.m-btn-primary:active {
  background-color: #2ca01c;
}

.m-btn-border {
  border: 2px solid #3b3c3f;
  border-radius: 30px;
  height: 36px;
}

.m-btn-border.m-btn-primary {
  border: none;
}

.m-btn-icon {
  position: relative;
  padding-left: 16px;
}

.m-icon-btn {
  position: absolute;
  right: 16px;
}

.m-btn-text {
  font-size: 13px;
  font-family: NotoSans;
  font-weight: 600;
  margin-right: 16px;
}

.m-btn-line {
  margin-right: 32px;
  width: 1px;
  height: 100%;
  background-color: #fff;
}

.m-btn-group {
  position: relative;
}

.m-btn-options {
  width: 100px;
  min-width: 100px;
  position: absolute;
  right: 0;
  margin-top: 1px;
  background-color: #fff;
  z-index: 1000;
  box-sizing: border-box;
}

.m-btn-option {
  display: flex;
  align-items: center;
  font-size: 13px;
  height: 34px;
  background-color: #fff;
  width: 100%;
  border: 1px solid #bbb;
  padding: 5px 10px;
  box-sizing: border-box;
}

.m-btn-option:hover {
  background-color: #E8E9EC;
}
