/* select {
    height: 40px;
    color: #000;
    border-width: 1px;
    border-radius: 4px;
    border-color: #bbb;
    outline: none;
    padding: 0 16px;
    border-style: solid;
    box-sizing: border-box;
    cursor: pointer;
} */