.m-paging {
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.m-paging .m-page-number-group {
    display: flex;
}

.m-paging .m-paging-center {
    display: flex;
}

.m-paging .m-paging-center>button {
    background-color: transparent;
}

.m-paging button {
    cursor: pointer;
    text-align: center;
    margin: 4px;
}

.m-paging .m-page-number-group button.m-page-number {
    width: 20px;
    height: 20px;
    font-size: 13px;
    border: unset;
    background-color: transparent;
}

.m-paging .m-page-number-group button.m-page-number:hover {
    border: 1px solid #BBBBBB;
    background-color: #fff;
    color: #000;
}

.m-paging .m-page-number-group button.m-page-number-selected {
    border: 1px solid #e0e0e0;
    font-weight: 700;
}

.m-paging .m-paging-navigation {
    font-size: 13px;
}

.m-paging .m-nav-page {
    font-size: 13px;
    background-repeat: no-repeat;
    background-color: #fff;
    margin: 4px;
    background-position: center;
    border: none;
}


/* .m-paging .m-btn-prev {
    background-image: url(../../assets/icon/btn-prev-page.svg);
}

.m-paging .m-btn-next {
    background-image: url(../../assets/icon/btn-next-page.svg);
} */

.m-paging .m-paging-right select {
    border: none;
}

.m-page-grid .m-paging {
    position: absolute;
    bottom: 0;
    box-sizing: border-box;
    padding: 0 32px 0 16px;
}

.m-paging-count {
    font-weight: bold;
}

.m-paging-record-in-page {
    cursor: pointer;
    display: flex;
    width: 200px;
    height: 30px;
    border: 1px solid #bbb;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.m-paging-record-in-page select {
    width: 100%;
    border: unset;
}

.m-paging-record-in-page select option {
    border: unset
}