.m-popup-noitice {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000000000001;
    background-color: rgba(0, 0, 0, 0.202);
    display: flex;
    align-items: center;
    justify-content: center;
}

.m-popup-noitice-content {
    position: absolute;
    height: auto;
    max-width: 450px;
    min-width: 444px;
    padding-bottom: 20px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #bbb;
    box-sizing: border-box;
    flex-shrink: 0;
    padding: 32px;
}

.m-popup-text {
    font-size: 13px;
    font-family: NotoSans;
    font-weight: normal;
}

.m-popup-icon {
    width: 48px;
    height: 48px;
    margin-right: 10px;
}

.m-popup-divide {
    height: 1px;
    box-sizing: border-box;
    background-color: #e0e0e0;
    margin: 32px 0 20px 0;
}

.m-popup-footer-btn {
    justify-content: space-between;
}